@font-face {
  font-family: nunito;
  src: url(../../fonts/NunitoSans_10pt-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  color: #111517;
  font-family: nunito !important;
  transition: 0.7s ease-out;
}

button {
  outline: none;
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.container:nth-child(1) {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.container .toggle {
  font-size: 18px;
  cursor: pointer;
}
.container .toggle i {
  padding-right: 5px;
}

.container:nth-child(2) .form-control {
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.container:nth-child(2) .form-control input {
  width: 100%;
  padding: 17px 14px;
  outline: 0;
  border: 0;
  font-size: 16px;
}
.container:nth-child(2) .form-control input::-moz-placeholder {
  letter-spacing: 5px;
}
.container:nth-child(2) .form-control input::placeholder {
  letter-spacing: 5px;
}
.container:nth-child(2) .form-control i {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.container:nth-child(2) .dropDownCon {
  width: 200px;
  position: relative;
}
.container:nth-child(2) .dropDownCon .dropDown {
  width: 100%;
  padding: 17px 14px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
}
.container:nth-child(2) .dropDownCon .dropDown p {
  letter-spacing: 3px;
}
.container:nth-child(2) .dropDownCon .dropDown i {
  cursor: pointer;
}
.container:nth-child(2) .dropDownCon .drop {
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  top: 64px;
  padding: 17px 14px;
  width: 100%;
  border-radius: 8px;
  background-color: #fafafa;
  cursor: pointer;
}
.container:nth-child(2) .dropDownCon .drop p {
  margin: 5px 0px;
}

.countries {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}
.countries .country {
  min-height: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.countries .country .country-img {
  height: 250px;
}
.countries .country .country-img img {
  width: 100%;
  height: 100%;
}
.countries .country .country-info {
  padding: 20px 17px;
}
.countries .country .country-info h5 {
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 3px;
}

.showDropDown {
  display: none;
}

.dark {
  background-color: #202c36;
  color: #fff;
  transition: 0.9s ease-out;
}
.dark button,
.dark i {
  color: #fff;
}
.dark .form-control i {
  color: #000;
}
.dark .container .dropDownCon .drop {
  background-color: #202c36;
}
.dark .counrtyModal {
  background-color: #202c36;
  color: #fff !important;
}
.dark .counrtyModal .back {
  background-color: #202c36;
}
.dark .counrtyModal .back svg path {
  fill: #fff;
}

.counrtyModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 30px;
}
.counrtyModal .back {
  position: absolute;
  top: 50px;
  left: 30px;
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.counrtyModal .modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.counrtyModal .modal .leftModal {
  width: 50%;
}
.counrtyModal .modal .leftModal img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
}
.counrtyModal .modal .rightModal {
  width: 50%;
  margin-left: 20px;
}
.counrtyModal .modal .rightModal h1 {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 40px;
}
.counrtyModal .modal .rightModal .moldalInfo {
  display: flex;
  -moz-column-gap: 30%;
       column-gap: 30%;
  align-items: center;
  flex-wrap: wrap;
}
.counrtyModal .modal .rightModal .moldalInfo .inner p {
  letter-spacing: 0.3px;
}
.counrtyModal .modal .rightModal .moldalInfo .inner p b {
  font-weight: 800;
}
.counrtyModal .modal .borderCountries {
  display: flex;
  gap: 20px;
  align-items: center;
}
.counrtyModal .modal .borderCountries button {
  background-color: #ddd;
  padding: 8px;
}

.show {
  display: none;
}/*# sourceMappingURL=index.css.map */